/*****************************************************/
html,body{
overflow-y:hidden;
overflow-x:hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 970px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  zoom: 1;
  padding: 0;
}
.row:before, .row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row > div {
  float: left;
  margin-right: gutter;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col-1 {
  width: 8.3333333333%;
  padding-left: 0%;
  padding-right: 0%;
}

.col-2 {
  width: 16.6666666667%;
  padding-left: 0%;
  padding-right: 0%;
}

.col-3 {
  width: 25%;
  padding-left: 0%;
  padding-right: 0%;
}

.col-4 {
  width: 33.3333333333%;
  padding-left: 0%;
  padding-right: 0%;
}

.col-5 {
  width: 41.6666666667%;
  padding-left: 0%;
  padding-right: 0%;
}

.col-6 {
  width: 50%;
  padding-left: 0%;
  padding-right: 0%;
}

.col-7 {
  width: 58.3333333333%;
  padding-left: 0%;
  padding-right: 0%;
}

.col-8 {
  width: 66.6666666667%;
  padding-left: 0%;
  padding-right: 0%;
}

.col-9 {
  width: 75%;
  padding-left: 0%;
  padding-right: 0%;
}

.col-10 {
  width: 83.3333333333%;
  padding-left: 0%;
  padding-right: 0%;
}

.col-11 {
  width: 91.6666666667%;
  padding-left: 0%;
  padding-right: 0%;
}

.col-12 {
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
}

.header {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.header figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.header figure img {
  position: absolute;
  top: 0;
  left: 50%;
  height: auto;
  width: 110%;
  -webkit-transform: translateX(-50%);
  -khtml-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.blur-emily {
  -webkit-filter: blur(12px);
  -moz-filter: blur(12px);
  -ms-filter: blur(12px);
  -o-filter: blur(12px);
  filter: blur(12px);
}

.mask {
  position: absolute;
  display: block;
  background-color: #1a1a1a;
  z-index: 2;
}
.mask.mask-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
}
.mask.mask-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7%;
}
.mask.mask-left {
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
}
.mask.mask-right {
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
}

.blur-mask {
  position: absolute;
  display: block;
  background-color: #1a1a1a;
  z-index: 2;
}
.blur-mask.mask-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 5%;
}
.blur-mask.mask-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5%;
}
.blur-mask.mask-left {
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
}
.blur-mask.mask-right {
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
}

.trigger {
  position: absolute;
  top: 10%;
  right: 5%;
  display: block;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  z-index: 4;
  cursor: pointer;
}
.trigger:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.5);
  -khtml-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  transform: scale(0.5);
  background-color: #fbdb45;
  -webkit-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  -khtml-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  -moz-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  -ms-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  -o-transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
  transition: all, 0.3s, cubic-bezier(0.55, 0, 0.1, 1) 1s ease-in-out;
}
.trigger:hover:before {
  -webkit-transform: scale(0.45);
  -khtml-transform: scale(0.45);
  -moz-transform: scale(0.45);
  -ms-transform: scale(0.45);
  -o-transform: scale(0.45);
  transform: scale(0.45);
}

.text-row {
  padding: 15px 0;
  text-align: left;
  margin: 0 auto !important;
}

.title {
  display: inline-block;
  vertical-align: middle;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 78px;
  line-height: 1em;
  color: white;
  opacity: 0;
  letter-spacing: 0.1em;
}
.title.uppercase {
  text-transform: uppercase;
}

.subtitle {
  display: inline-block;
  vertical-align: middle;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 23px;
  line-height: 1em;
  color: white;
  opacity: 0;
}

.line {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 160px;
  margin: 0 60px 0 30px;
}
.line span {
  height: 6px;
  display: block;
  width: 0;
  background-color: #fbdb45;
}
.line.line-short {
  max-width: 40px;
}

html {
  height: 100% !important;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: "-n3", "", Arial, serif, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 2.3076923077;
  color: white;
  position: relative;
}

.main-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

/*TABLE POSITIONING STUFF*/
.outer-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.outer {
  display: table;
  height: 100% !important;
  left: 0;
  min-height: 100%;
  position: absolute;
  right: 0;
  table-layout: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.outer .inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  position: relative;
}
